<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="" id="fname" placeholder="First name">
    <input type="text" name="" id="lname" placeholder="Last Name">
    <input type="text" name="" id="otnames" placeholder="Other Names">
    <input type="email" name="" id="lemail2" placeholder="Email">
    <br>
    <input type="file" name="" id="thefile">
    <br>
    <button onclick="callme()">Login</button>


    <img id="imgg">

    <script> 
    const firstName =document.getElementById('fname')
        const lastName = document.getElementById('lname')
        const otherNames = document.getElementById('otnames')
        const emailAddress = document.getElementById('lemail2')
        const theFile = document.getElementById('thefile')
        

        function showImgg() {
            fetch('/users/getimg', {
                method: 'GET',
                "content-type": "application/json"
            }).then(res => res.json())
            .then(x => {
                console.log(x[0].certificate.data.data)
                const showImage = document.getElementById('imgg')
                showImage.src = `data:image/png;base64,${x[0].certificate.data.data}`;
            })
            .catch(error => console.log(error))
        }
        showImgg();

    function callme() {
        
        
        
    const formdata = new FormData();
formdata.append('userInfo.certPic', theFile.files[0]);
formdata.append('userInfo.fname', firstName);
formdata.append('userInfo.lname', lastName);
formdata.append('userInfo.email', emailAddress);

        fetch('/users/add-with-pic', {
            method: 'POST',
            body: formdata
        }).then( data => data.json())
        .then(x => {
            console.log(x)
        }).catch(error => {console.log(error)})
    }
    </script>
</body>
</html>