<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="email" name="" id="lemail2">
    <br>
    <input type="password" name="" id="lpassword2">
    <br>
    <button onclick="callme()">Login</button>

    <script src="../static/js/admin-handle-script.js"></script>
</body>
</html>